<div
  class="w-[30rem] h-auto bg-gradient-to-b from-[#307e6c] m-auto to-[#2b996d] rounded-md p-5"
>
  <form (ngSubmit)="generateResult()" action="">
    <div class="flex gap-10">
      <div class="flex flex-col">
        <label for="investment">Initial Investment</label>
        <input
          [(ngModel)]="initialInvestment"
          type="text"
          placeholder="Investment Amount"
          class="border-2 mt-2 border-gray-300 rounded-md p-2 w-50"
          name="investment"
          id="investment"
        />
      </div>
      <div class="flex flex-col">
        <label for="annual">Annual Investment {{ initialInvestment }}</label>
        <input
          [(ngModel)]="annualInvestment"
          type="text"
          placeholder="Investment Amount"
          class="border-2 mt-2 border-gray-300 rounded-md p-2 w-50"
          name="annual"
          id="investment"
        />
      </div>
    </div>
    <!-- Last section -->
    <div class="flex gap-10 justify-between my-5">
      <div class="flex flex-col">
        <label for="investment">Expected returns</label>
        <input
          [(ngModel)]="expectedReturn"
          type="text"
          placeholder="10"
          class="border-2 mt-2 border-gray-300 rounded-md p-2 w-50"
          name="investment"
          id="investment"
        />
      </div>
      <div class="flex flex-col">
        <label for="annual">Duration</label>
        <input
          [(ngModel)]="duration"
          type="text"
          placeholder="Investment Amount"
          class="border-2 mt-2 border-gray-300 rounded-md p-2 w-50"
          name="annual"
          id="investment"
        />
      </div>
    </div>
    <button
      class="bg-[#83e6c0] font-bold h-10 text-[#1a1f1d] w-full"
      type="submit"
    >
      Calculate
    </button>
  </form>
</div>
